* {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: .7rem 2rem;
    background: none;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}
.button:hover {
    box-shadow: 1px 1px 5px lightgray;
    transform: translateY(1px);
}